<div id="content">

  <div class="jumbotron welcomejumbo">
    <div class="container">
      <% if user_signed_in? %>
          <h1 class="display-3">Welcome back <%= current_user.firstname %></h1>
      <% else %>
          <h1 class="display-3">Welcome to Uncle Sam</h1>
      <% end %>
    </div>
  </div>

</div>
