// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.eventthumb
  border-color: $marigold
  min-height: 250px
  max-height: 250px
  overflow: hidden
  background-color: $section
  h1
    color: $marigold
  p
    color: $screen
    padding: 2.5%
    text-align: justify

.eventthumbheader
  text-align: center

.thumblink
  text-decoration: none

.eventscontainer
  padding: 5%

#createevent
  padding-top: 2.5%
  padding-bottom: 0

.eventdateof
  text-align: center

//- - - - - - EVENT SHOW

.eventshow
  text-align: center
  max-width: 75%
  padding: 19px 29px 29px
  margin: 0 auto 20px
  border: 1px solid #e5e5e5
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 10px
  background-color: $screen
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
  color: $steel

#eventdescription
  text-align: justify

.activityseperate
  width: 5rem
  border: 1px solid $text
  margin-bottom: 0

.eventactivities
  display: flex
  justify-content: space-between
  flex-direction: column

